* {
    margin: 0;
    padding: 0;
}

main {
    text-align: center;
}

.navbar {
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: red;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.navbar li {
    display: inline-block;
    padding: 40px;
}

.main-img {
    width: 100%;
}

.main-title {
    font-family: sans-serif;
    padding: 49px;
    color: #373737;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3.3px;
}

.main-text {
    font-family: sans-serif;
    color: #373737;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    margin: 28px;
}

button {
    font-family: sans-serif;
    background: red;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
    height: 50px;
    width: 191px;
    border: 1px solid red;
}

footer {
    font-family: sans-serif;
    margin: 82px;
    color: #373737;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2.4px;
}
